.padding-left-40px {
  padding-left: 40px;
}

.padding-bottom-20px {
  padding-bottom: 20px;
}

.header-tab {
  position: relative;
  height: 100%;
  padding-bottom: 25px;
}

form {
  margin-top: 40px;
  width: 100%;
}

[v-cloak] {
  display: none;
}